<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="calculate" method ="post">
    
    <input type ="text" name = "input1" placeholder="input1">
    <input type ="text" name = "operation" placeholder="operation">
    <input type = "text" name = "input2" placeholder="input2">
    <input type = "submit"  name = "calculate">
    
  </form>
  </body>
</html>